.parallax {
  background-attachment: fixed;
  background-position: top;
}

.hero_ele {
  letter-spacing: 2px;
  display: grid;
  align-content: center;
  height: 91vh;
  padding: 0 5%;
}


.prof {
  font-size: 14px;
}

.name {
  font-size: 22px;
  padding-bottom: 20px;
}

.content_download {
  padding-top: 50px;
}


@media only screen and (min-width: 600px) {
  .name {
    font-size: 60px;
  }
  .prof  {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .name {
    font-size: 80px;
  }
  .prof  {
    font-size: 40px;
  }
  .hero_ele {
    padding: 0;
  }
}


.dusky {
    background-color: rgb(	240, 48, 48);
    color: rgb(	37, 37, 37);
}
