.box_block {
  padding: 50px 0;
  text-align: center;
}

.title {
  font-size: 14px;
  margin-top: -50px;
}

.description {
  padding-top: 20px;
  font-size: 12px;
}

.box_block .box_block_border {
  border: 2px solid #252525;
  margin: 0 15px;
  padding: 50px 10px;
}

.box_block img {
  position: relative;
  top: -70px;
  background: #fff;
  padding: 0 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 45px;
}

.box_block_border:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (min-width: 780px) {
  .title {
    font-size: 16px;
  }
  .description {
    font-size: 14px;
  }
}
